<%= form_for [@user, @dvd] do |f| %>
  <div class="small-12 medium-6 column">
    <%= f.label :purchase_price %>
    <%= f.text_field :purchase_price %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :location_id %>
    <%= f.collection_select(:location_id, @user.locations, :id, :name) %>
  </div>

  <div class="small-12 column">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="small-12 column">
    <%= f.label :synopsis %>
    <%= f.text_area :synopsis, size: "60x10" %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :user_rating %>
    <%= f.text_field :user_rating %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :mpaa_rating, "MPAA Rating" %>
    <%= f.text_field :mpaa_rating %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :cast %>
    <%= f.text_field :cast %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :director %>
    <%= f.text_field :director %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :writer %>
    <%= f.text_field :writer %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :producer %>
    <%= f.text_field :producer %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :release_date %>
    <%= f.text_field :release_date %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :run_time %>
    <%= f.text_field :run_time %>
  </div>

  <div class="small-12 medium-6 column">
    <%= f.label :studio %>
    <%= f.text_field :studio %>
  </div>

  <div class="small-12 column" id="dvd_submit">
    <% if !params[:upc].nil? %>
      <%= f.hidden_field :upc_id, value: Upc.find_by(upc: params[:upc][:upc]).id %>
    <% end %>
    <br>
    <%= f.submit "#{@submit_text}", class: "button secondary" %>
    <% if @delete %>
      <%= link_to 'Delete', [@user, @dvd], method: :delete, data: { confirm: "Are you sure?" }, class: "button secondary" %>
    <% end %>
    <%= link_to 'Back', @path, class: "button secondary" %>
  </div>
<% end %>
