<div class="dvd-content">
  <%= render 'layouts/navbar' %>
  <div class="content-box">
    <h1><%= @user.name %>'s DVDs</h1>
    <div class="row">
      <%= form_tag user_dvds_path(@user), :method => 'get' do %>
        <div class="small-10 columns">
          <%= text_field_tag :search, params[:search], placeholder: "Search Collection" %>
        </div>
        <div class="small-2 columns">
          <%= submit_tag "Search", name: nil, class: "button secondary" %>
        </div>
      <% end %>
    </div>
    <% if @user_can_change %>
      <%= link_to "Add a DVD", new_user_dvd_path(@user), class: "button secondary" %>
    <% end %>
  </div>

  <div class="itemList row small-up-1 medium-up-3 large-up-5">
    <% @dvds.each do |dvd| %>
      <% class_name = "column list-item-box" %>
      <% if dvd == @dvds.last %>
        <% class_name += " end" %>
      <% end %>
      <div key=<%= dvd.id %> class=<%= class_name %>>
        <%= link_to user_dvd_path(@user, dvd) do %>
          <div class="list-item-content">
            <p><%= dvd.title %></p>
            <div>
              <img src=<%= dvd.image_small %> alt="no image" class="index-item-image-box"/>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
