<div class="dvd-content" id=<%= @user.id.to_s %>>
  <%= render 'layouts/navbar' %>
  <div id="new_dvd" class="content-box row">
    <div class="row">
      <%= form_for(@upc) do |f| %>
        <div class="small-2 columns">
          <%= f.label :upc, "UPC" %>
        </div>
        <div class="small-8 columns"
          <%= f.text_field :upc %>
        </div>
        <div class="small-2 columns">
          <%= f.submit "Search UPC" %>
        </div>
      <% end %>
    </div>

    <%= render 'dvds/form' %>

  </div>
</div>
